# Q1. Why do we call Python as a general purpose and high-level programming language?

    Python is an object-oriented, high-level programming language. Object-oriented means this language is based
    around objects (such as data) rather than functions, and high-level means it's easy for humans to understand.
    In computer software, a general-purpose programming language (GPL) is a programming language designed to be used
    for building software in a wide variety of application domains, across a multitude of hardware configurations and 
    operating systems.

# Q2. Why is Python called a dynamically typed language?
    
    In the python language we need not to mention statically the datatype of the data,python interpreter takecare
    of the datatype dynamically

# Q3. List some pros and cons of Python programming language?

     
     pros:
     python is easy to learn and read
     python enhances productivity
     python has a vast collection of libraries
     python is free,open_source and has a vibrant community
     python is a portable language
     python is a interpreted language
     
     cons:
     python has speed limitations
     python is not so strong with mobile computing
     python can have runtime errors
     Python consumes a lot of memory space
     Python is not easy to test

# Q4. In what all domains can we use Python?

     python is used in Artificial inteligence(AI)
     Machine Learning
     Deep Learning
     Data science applications

# Q5. What are variable and how can we declare them?
    
    an identifier is a word and  it is used to identify variables,methods,functions,classes....etc.
    It can be a variable name,method name,function name,classname..ete
    Variable:variable is a container that contains data
    Rules to declear an identifier:
    1.It can be formed by using alphabets(A to Z &a to z),digits(0 to 9),&underscore symbol(_).
    2.It must start with alphabets and underscore symbol only
    3.length of the identifier(variable) is not limited.
    4.It shoud not contain special symbol other than underscore symbol
    5.it should not contain white space character(space bar,tab&enter keys)

# Q6. How can we take an input from the user in Python?
     
     Here we are using the input() function (python In-Build function).

# Q7. What is the default datatype of the value that has been taken as an input using input() function?

      "String" litral is the default datatype of the value  when we use input() function as ainput.

# Q8. What is type casting?
    
    changing the one datatype to another data type is known as type casting.

# Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?
     
     No,at a time only one input will be taken by using only single input() function.
     yes,when we use split() function along with input() function we can take multiple inputs by the user

# Q10. What are keywords?

    A set of words reserved by language itself and those words are known as keywords.
    In python there are 36 keywords right now

In [75]:
import keyword
print(keyword.kwlist)
len(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

36

# Q11. Can we use keywords as a variable? Support your answer with reason.
    
    No, we can not use the keywords as a variable
    Keywords are used to define the syntax of the coding. The keyword cannot be used as an identifier, function, and
    variable name. All the keywords in python are written in lower case except True and False

# Q12. What is indentation? What's the use of indentaion in Python?
      
      Indentation is basically the leading white space character added at the beginning of statements to indicate
      a block of code.The main purpose of indenting the code is to separate the blocks of code. Besides, it also 
      improves the readability of the code.

# Q13. How can we throw some output in Python?

     Using the print() function(In-Build python function) we can print the output.

# Q14. What are operators in Python?

      An operator is a special symbol which operates on data.
      In python operators are divided into 8 categories
      1.Arithemetic operators
         +  ---> addition
         -  ---> subtration
         *  ---> multipication
         /  ---> division
         // ---> floor division
         %  --->modulo division
         ** ---> exponential
      2.relational operators (these operators always returns bool type date)
         <  ---> lessthan
         >  ---> greaterthan
         <= ---> lessthan or equals to
         >= ---> greaterthan or equals to
         == ---> equals to
         != ---> not equals to
      3.logical operators (these operators always returns bool type date)
         and  ---> logical AND
         or   ---> logical OR
         not  ---> logical NOT
      4.bitwise operators
         &  ---> bitwise AND
         |  ---> bitwise OR
         ^  ---> bitwise XOR
         << ---> left shift
         >> ---> right shift
         ~  ---> complement(Tilde)
      5.Assignment operators
         =     ---> normal assignment
         a+=b  ---> a=a+b
         a-=b  ---> a=a-b
         a*=b  ---> a=a*b
         a/=b  ---> a=a/b
         a//=b ---> a=a//b
         a%=b  ---> a=a%b
         a**=b ---> a=a**b
         a&=b  ---> a=a&b
         a|=b  ---> a=a|b
         a^=b  ---> a=a^b
         a<<=b ---> a=a<<b
         a>>=b ---> a=a>>b
      6.membership operators
      7.identity operators
      8.unary plus & unary minus operators

# Q15. What is difference between / and // operators?

       " / " is divison operator it ruturns Quotient in float format
       "//"  is a floor division operator it ruturns quotient in integer format

# Q16. Write a code that gives following as an output.

    iNeuroniNeuroniNeuroniNeuron

example:

In [76]:
 print("iNeuron"*4)

iNeuroniNeuroniNeuroniNeuron

# Q17. Write a code to take a number as an input from the user and check if the number is odd or even.

In [77]:
# Q17. Write a code to take a number as an input from the user and check if the number is odd or even.
x=int(input("enter a number: "))
if x%2==0:
    print("given input number is even number")
#elif:
   # print("given number is odd number ")
else:
    print("given input number is odd")

enter a number: 52
given input number is even number

# Q18. What are boolean operator?
   
    Logical And
    logical OR
    logical NOT and relational operatores like >,<,<=,>=,==,!= also  returns bool values(True and false)

# Q19. What will the output of the following?

In [78]:
# Q19. What will the output of the following?
"""
1 or 0    
0 and 0
True and False and True
1 or 0 or 0 """
print(0 or 1)
print(0 and 0)
print(True and False and True)
print(1 or 0 or 0)

1
0
False
1

# Q20. What are conditional statements in Python?

       The if statement is a conditional statement in python, that is used to determine whether a block of code will be executed or not
       if conditional statement
       if-else statement
       if-elif---else statement
       Nested if  statement

# Q21. What is use of 'if', 'elif' and 'else' keywords?
     
     
     It allows us to check for multiple expressions. If the condition for if is False , it checks the condition of the next          
     elif block and so on. If all the conditions are False , the body of else is executed.

# Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".

In [41]:
age=int(input("enter the age of the person: "))
if age>=18:
    print("i can vote")
else:
    print(" i cann't vote")

enter the age of the person: 12
 i cann't vote

# Q23. Write a code that displays the sum of all the even numbers from the given list.

numbers = [12, 75, 150, 180, 145, 525, 50]

In [42]:
numbers=[12, 75, 150, 180, 145, 525, 50]
sum=0
for i in numbers:
    if i%2==0:
        sum=sum+i
        print("sum of the even numbers in a given list: ",sum)
        print(f" after  adding {sum}")

sum of the even numbers in a given list:  12
 after  adding 12
sum of the even numbers in a given list:  162
 after  adding 162
sum of the even numbers in a given list:  342
 after  adding 342
sum of the even numbers in a given list:  392
 after  adding 392

# Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output.

In [63]:
a=[200,500,856]
greater_number=0
for i in range(len(a)):
    if a[i]>greater_number:
        greater_number=a[i]
print(greater_number)

856

# Q25. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop
```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [44]:
numbers = [12, 75, 150, 180, 145, 525, 50,600,750,652,13,186]
for ele in numbers:
    if ele%5==0:
        if ele>150:
            continue
            if ele>500:
                break
        print(ele)

75
150
145
50

In [1]:
numbers = [12, 75, 150, 180, 145, 525, 50,600,750,652,13,186]
for i in numbers:
    if i > 500:
        break
    elif  i> 150:
        continue
    elif i%5==0:
        print(i)

75
150
145

# Q26. What is a string? How can we declare string in Python?
      
     A string is a series of characters.To create a string, put the sequence of characters inside either single quotes,
     double quotes, or triple quotes and then assign it to a variable.Strings are immutable
     for example, variable=" sequence of characters "

# Q27. How can we access the string using its index?
    
    You can access the characters in a string by referring to its index number inside square brackets [].Individual
    characters in a string can be accessed by specifying the string name followed by a number in square brackets ( [] ).
    String indexing in Python is zero-based: the first character in the string has index 0 , the next has index 1 ,
    and so on.
     
     example is below

In [5]:
variable="string example"
print(variable[0])
print(variable[1])
print(variable[2])
print(variable[3])
print(variable[4])
print(variable[:])

s
t
r
i
n
string example

# Q28. Write a code to get the desired output of the following

string = "Big Data iNeuron"       


desired_output = "iNeuron"

In [20]:
string="Big Data iNeuron"
print(string[9:])

iNeuron

# Q29. Write a code to get the desired output of the following

string = "Big Data iNeuron"


desired_output = "norueNi"

In [21]:
string="Big Data iNeuron"
string1=string[:-8:-1]
print(string1)

norueNi

# Q30. Resverse the string given in the above question.

In [22]:
string="Big Data iNeuron"
string1=string[:-8:-1]
print(string1)
print(string[::-1])

norueNi
norueNi ataD giB

# Q31. How can you delete entire string at once?

In [25]:
#we can delete entire string by using del keyword
del string
string
#string[:]

NameError: name 'string' is not defined

# Q32. What is escape sequence?

      An escape sequence is a sequence of characters that, when used inside a character or string, does not represent 
      itself but is converted into another character or series of characters.
      Code	Result	Try it
      \'	Single Quote
      \\	Backslash	
      \n	New Line

# Q33. How can you print the below string?

'iNeuron's Big Data Course'

In [26]:
print(" 'iNeuron's Big Data Course ' ")

 'iNeuron's Big Data Course '

# Q34. What is a list in Python?

    List. Lists are used to store multiple items in a single variable. Lists are one of 4 built-in data types in Python used to store collections of data,It suports homogeneous and heterogeneuos elements and it can be created using [].

# Q35. How can you create a list in Python?

    list can be created by using empty square brackets [] --->variable=[]
    list can also created by using list() function ---->variable=list()

In [1]:
s=list()
print(type(s))
s1=[]
print(type(s))

<class 'list'>
<class 'list'>

# Q36. How can we access the elements in a list?

    list can access the elements by using "indexing " and slicing operations
    list supports both postive and negative indexing.
    positive index starts from "0" from left to right and negative index starts with "-1" from rights to left.
    In a list,insertion order is preserved.

In [6]:
list1=[1,2,4,5,6,3,5]
print(list1[-1])
print(list1[-5])
print(list1[5])

5
4
3

# Q37. Write a code to access the word "iNeuron" from the given list.

lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [29]:
lst=[1,2,3,"Hi",[45,54,"iNeuron"],"Big Data"]
print(lst[4])
print(lst[4][2])

[45, 54, 'iNeuron']
iNeuron

# Q38. Take a list as an input from the user and find the length of the list.

In [13]:
list1=[20,50,40,80,90,70,"hi","souji"]
print(len(list1))  #using the length function 

l=[]
l=list(int(input("enter list elements: "))).split()
#l.append(list2)
print(len(l))

8
enter list elements: 1 2 3 4

ValueError: invalid literal for int() with base 10: '1 2 3 4'

# Q39. Add the word "Big" in the 3rd index of the given list.

lst = ["Welcome", "to", "Data", "course"]

In [39]:
lst=["Welcome","to","Data","course"]
lst[3]="Big"
print(lst)

['Welcome', 'to', 'Data', 'Big']

# Q40. What is a tuple? How is it different from list?

    tuple is is a one of the buit in data type in python used to store collections of data and multiple items assigned to a single variable.It is an iterable object
    Difference between list and tuple :
    Lists are mutable means it can change the elements of the list
    tuples are immutable means once we declare the value we cann't change

# Q41. How can you create a tuple in Python?

    tuple can be created by using paranthesis ()
    tuple can also be created by tuple() function
    tuple can also be created by assigning multiple values to a single variable

In [173]:
#example
t=()
print(type(t))
tupl=tuple()
print(type(tupl))
a=1,2,3,4
print(type(a))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

# Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

# Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [193]:
a=(10,20,"hi",50,60,'hello',100)
print(type(a))
a.add("souji")
#a.append("souji")
# once assigning the values of tuple we cann't add or remove the elements to existing tuple because tuples are immutable"""
b=("soujanya","big data")
c=a+b #"concatenate two tuples and assigning to new varoab;e is possible"
print(c)

<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'add'

# Q44. Take a tuple as an input and print the count of elements in it.

In [250]:
v=input("enter a list elements: ").split(",")
print(v)
print(type(v))
z=tuple(v)
print(f"length of the given tuple : ",len(z))





# by using len() function
variable=(20,10,500,60,4,"hi","hwllo",800,60,50,100)
print(len(variable))

# by using foor loop
length=0
for i in variable:
    length=length+bool(i)
    print(f"length of the tuple: ",length)

enter a list elements: 1,2,3,4,5
['1', '2', '3', '4', '5']
<class 'list'>
length of the given tuple :  5
11
length of the tuple:  1
length of the tuple:  2
length of the tuple:  3
length of the tuple:  4
length of the tuple:  5
length of the tuple:  6
length of the tuple:  7
length of the tuple:  8
length of the tuple:  9
length of the tuple:  10
length of the tuple:  11

# Q45. What are sets in Python?

     A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. 

     Set are represented by { } (values enclosed in curly braces)

# Q46. How can you create a set?

    set can be created by using braces {}.
    Empty braces considered as dict,because dict also can be created by using braces{}.
    Atleast one element if it is present,then it is considered as a set.
    set can also be created by using set() function.

In [204]:
s=set()
print(type(s))
s={}
print(type(s))
s={1}
print(type(s))

<class 'set'>
<class 'dict'>
<class 'set'>

# Q47. Create a set and add "iNeuron" in your set.

In [206]:
s=set()
print(type(s))
s.add("iNeuron")
print(s)

<class 'set'>
{'iNeuron'}

# Q48. Try to add multiple values using add() function.

In [208]:
s1=set()
print(type(s1))
s1.add(10)
s1.add("hi")
s1.add("hello")
s1.add(100)
s1.add(200)
print(s1)

<class 'set'>
{'hi', 'hello', 100, 200, 10}

# Q49. How is update() different from add()?

    By using update() function we can add multiple elements at a time to set.
    by using add() function we can add at a time one element to the set.

In [215]:
s2=set()   
s2.update([1,5,3,2,4,8,6,7]) # using update() function
print(s1)

s2=set()
s2.add(1)
s2.add("hi")
print(s2)

{'hi', 1, 2, 'hello', 100, 5, 3, 4, 200, 8, 10, 6, 7}
{'hi', 1}

# Q50. What is clear() in sets?
    The clear() method removes all elements in a set.

In [219]:
s1={'hi', 1, 2, 'hello', 100, 5, 3, 4, 200, 8, 10, 6, 7}
s1.clear()
print(s1)

set()

# Q51. What is frozen set?
     
     frozonset is an immutable version of a set.
     frozenset can be created by using frozenset() function only.

In [220]:
#example
a=frozenset()
print(type(a))

<class 'frozenset'>

# Q52. How is frozen set different from set?

    We can't add an element to frozenset to frozenset and we cann't remove an element from frozenset because frozenset is a immutable
    set cann't be used as a key in dict where as frozenset can be used as key in dict because dict allows immutable keys only.

# Q53. What is union() in sets? Explain via code.
      
      The union() method returns a set that contains all items from the original set, and all items from the specified set(s).
      we can use union()  or | operator(both are giving same meaning)

In [224]:
A={10,20,30,40,50,60,70,80,90,100}
B={20,42,52,71,8,30,50,102,500}
print(A.union(B))
print(A|B)  # uninon symbol is - |

{70, 71, 8, 10, 80, 20, 90, 30, 100, 102, 40, 42, 50, 52, 500, 60}
{70, 71, 8, 10, 80, 20, 90, 30, 100, 102, 40, 42, 50, 52, 500, 60}

# Q54. What is intersection() in sets? Explain via code.
    
    Python set intersection() method returns a new set with an element that is common to all set

The intersection of two given sets is the largest set, which contains all the elements that are common to both sets. The intersection of two given sets A and B is a set which consists of all the elements which are common to both A and B.

In [226]:
A={10,20,30,40,50,60,70,80,90,100}
B={20,42,52,71,8,30,50,102,500}
print(A.intersection(B))
print(A&B)

{50, 20, 30}
{50, 20, 30}

# Q55. What is dictionary ibn Python?
    
    Dictionaries are Python's implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.
    dict is denoted by {}.

In [231]:
#example
d={}
print(type(d))
d["data"]="big data"
d[1]="sojanya"
print(d)

<class 'dict'>
{'data': 'big data', 1: 'sojanya'}

# Q56. How is dictionary different from all other data structures
     
     Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
     dictionaries only one data structure to provide key and value pair remaining data strutures are onle single element values

# Q57. How can we delare a dictionary in Python?
      
     dict can be created by using braces {}.
     dict can also be created by using dict() function.
     It contains data as a key and values pairs.
     key and value separated with : symbol.
     it allows immutable keys only.
     Values can be mutable or immutable.
     keys and values can be homogeneous or heterogeneous.
     it doesn't allow duplicate keys .values may be duplicated.
     list and set cann't be used as keys because dict allows immutable keys only.

# Q58. What will the output of the following?

var = {}

print(type(var))

In [232]:
var = {}
print(type(var))

<class 'dict'>

# Q59. How can we add an element in a dictionary?
      
      In dictionary we can add the elements by using key and values.

In [234]:
var = {}
print(type(var))
var["soujanya"]=100
var["sravanthi"]=200
var["laxmi"]=500
print(var)

<class 'dict'>
{'soujanya': 100, 'sravanthi': 200, 'laxmi': 500}

# Q60. Create a dictionary and access all the values in that dictionary.

In [240]:
var={'soujanya': 100, 'sravanthi': 200, 'laxmi': 500,1:"priyanka",2:"mohan rao"}
print(var)
print(type(var))

# accessing the dictionary elements by using keys.
print(var["soujanya"])
print(var["laxmi"])
print(var[1])
print(var[2])

{'soujanya': 100, 'sravanthi': 200, 'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}
<class 'dict'>
100
500
priyanka
mohan rao

# Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [262]:
dict1={ 'soujanya': 100, 'sravanthi': 200, 'name':{'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'},1:"s" }
print(dict1)

#accessing
print(dict1['name'])
print(dict1['name'][2])
print(dict1['name'][1])

{'soujanya': 100, 'sravanthi': 200, 'name': {'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}, 1: 's'}
{'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}
mohan rao
priyanka

# Q62. What is the use of get() function?
    
    The get() method returns the value of the item with the specified key.
    syntax:
    dictionary.get(keyname, value)

In [271]:
dict1={ 'soujanya': 100, 'sravanthi': 200, 'name':{'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'},1:"s" }
print(dict1)
print(dict1.get("name"))
print(dict1.get("soujanya"))

#we use get() method for getting the value of the kay if it there it returns value of the key 
print(dict1.get('study'))
print(dict1.get('study',100))

{'soujanya': 100, 'sravanthi': 200, 'name': {'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}, 1: 's'}
{'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}
100
None
100

# Q63. What is the use of items() function?
     
     Items() function is used to return the all key and vaule pairs in the dictionay.

In [278]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
print(car.items())

dict1={ 'soujanya': 100, 'sravanthi': 200, 'name':{'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'},1:"s" }
print(dict1.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('soujanya', 100), ('sravanthi', 200), ('name', {'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}), (1, 's')])

# Q64. What is the use of pop() function?
    
    Python dictionary pop() method removes and returns the specified element from the dictionary.
    Syntax : dict.pop(key, def).

In [291]:
dict1={ 'soujanya': 100, 'sravanthi': 200, 'name':{'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'},1:"s" }
print(dict1.pop(1))
print(dict1)
print(dict1.pop('name'))

s
{'soujanya': 100, 'sravanthi': 200, 'name': {'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}}
{'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}

# Q65. What is the use of popitem() function?
    
    python dictionary popitem() method removes the last inserted key-value pair from the dictionary and returns it as a tuple.

In [292]:
dict2={ 'soujanya': 100, 'sravanthi': 200, 'name':{'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'},1:"s" }
print(dict2.popitem())
print(dict2)

(1, 's')
{'soujanya': 100, 'sravanthi': 200, 'name': {'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}}

# Q66. What is the use of keys() function?
     
     keys() function is used to return the all the keys in the dictonary.

In [297]:
dict3={ 'soujanya': 100, 'sravanthi': 200, 'name':{'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'},1:"s" }
print(dict3.keys())
print(list(dict3.keys()))

dict_keys(['soujanya', 'sravanthi', 'name', 1])
['soujanya', 'sravanthi', 'name', 1]

# Q67. What is the use of values() function?

      values() function is returns all the values in the dictionary.

In [299]:
dict4={ 'soujanya': 100, 'sravanthi': 200, 'name':{'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'},1:"s" }
print(dict4.values())
print(list(dict4.values()))

dict_values([100, 200, {'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}, 's'])
[100, 200, {'laxmi': 500, 1: 'priyanka', 2: 'mohan rao'}, 's']

# Q68. What are loops in Python?
     
     A loop statement allows us to execute a statement or group of statements multiple times.Repetitive commands are executed by loops.Python loops are particularly flexible and they are not limited to integers.We can also use loops for character vectors,logical vectors,lists,or expressions.

# Q69. How many type of loop are there in Python?
     
     In python there are 2 loops:
     1.while loop
     2.for loop

# Q70. What is the difference between for and while loops?

       In While: while ( condition) 
       { statements; //body of loop}
       It shows an error if the no condition is given.
       while loop is used for the number of iterations are unknown .and here statement is executed when
       condtion is true only ,if the condition is false then it terminate the loop.
       
       In for loop: Here 
       for(initialization; condition; iteration)
       { //body of ‘for’ loop}
       It iterates infinite time, if no condition is given.
       for loop is used for number of iterations is known.
       
       
       --> Initialization, conditional checking, and increment or decrement is done while iteration in “for” loop 
       executed.while on the other hand, only initialization and condition checking in the syntax can be done.
       --> For loop is used when we are aware of the number iterations at the time of execution. on the other hand,
       in “while” loop, we can execute it even if we are not aware of the number of iterations.
       -->If you forgot to put the conditional statement in for loop, it will reiterate the loop infinite times but
       if you forgot to put the conditional statement in while loop, it will show an error to you.
       --> The syntax in the for loop will be executed only when the initialization statement is on the top of the
       syntax but in case of while loop, it doesn’t matter whether initialization statement finds anywhere in the syntax.
       --> The iteration will be executed on if the body of the loop executes. on the contrary, the iteration statement
       in while loop can be written anywhere in the syntax.

# Q71. What is the use of continue statement?
     
     It passes the control to the next iteration of a loop.
     
     The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to 
     the next iteration.

In [80]:
#example
i=0
while i<=10:
    i+=1
    if i<5:
        continue
    print(i)

5
6
7
8
9
10
11

# Q72. What is the use of break statement?

     It terminates the nearest enclosing loop.
     
     'Break' in Python is a loop control statement. It is used to control the sequence of the loop. Suppose you want to
     terminate a loop and skip to the next code after the loop; break will help you do that. A typical scenario of using the 
     Break in Python is when an external condition triggers the loop's termination.

In [79]:
i=1
while i<=10:
    if i==5:
        break
    print(i)
    i+=1

1
2
3
4

# Q73. What is the use of pass statement?
     
     It passes the control to the next statement.

In [81]:
for i in range(1,11):
    pass
print(i)

10

In [82]:
for i in range(1,11):
    pass
    print(i)
print(i)

1
2
3
4
5
6
7
8
9
10
10

# Q74. What is the use of range() function?
     
     Python range() Function:
     The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), 
     and stops before a specified number.

In [83]:
#example
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [85]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [86]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

# Q75. How can you loop over a dictionary?

In [92]:
dict={'Sachin': 10, 'MSD': 7, 'Kohli':18, 'Rohit': 45,"dhoni":8,"dhawan":10,"karthik":12,"ashwin":15}
#loop for key and value pairs
for ele in dict.items():
    print(ele)
#loop for keys only
for ele in dict.keys():
    print(ele)
#loop for values only
for ele in dict.values():
    print(ele)

('Sachin', 10)
('MSD', 7)
('Kohli', 18)
('Rohit', 45)
('dhoni', 8)
('dhawan', 10)
('karthik', 12)
('ashwin', 15)
Sachin
MSD
Kohli
Rohit
dhoni
dhawan
karthik
ashwin
10
7
18
45
8
10
12
15

# Q76. Write a Python program to find the factorial of a given number.

In [59]:
def factorial(n):
    if n==0 or n==1:
        return 1
    result=1
    for i in range(1,n+1):
        result=result*i
    return result
x=factorial(int(input("enter any integer values: ")))
print(x)

enter any integer values: 6
720

# Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [305]:
P=float(input("enter principle amount: "))
R=float(input("enter Rate of the interest: "))
T=float(input("enter number of years: "))
SI=(P*T*R)/100
print("simple interest of the given amounts: ",SI)

enter principle amount: 150000
enter Rate of the interest: 36
enter number of years: 3
simple interest of the given amounts:  162000.0

# Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [322]:
P=float(input("enter principle amount: "))
R=float(input("enter rate of Interest: "))
T=int(input("enter a time of the duration in years: "))
A=P*(1+R/100)**T
compound_interest=A-P
print("compound_interest: ",compound_interest)

enter principle amount: 100000
enter rate of Interest: 24
enter a time of the duration in years: 2
compound_interest:  53760.0

# Q79. Write a Python program to check if a number is prime or not.

In [323]:
n=int(input("enter any integer number: "))
count=0
for a in range(1,n+1):
    if n%a==0:
        count+=1
if count==2:
    print(f"given number {n} is a prime number ")
else:
    print(f"given number {n} is not a prime number")

enter any integer number: 63
given number 63 is not a prime number

# Q80. Write a Python program to check Armstrong Number.

In [71]:
n=int(input("enter any number:"))
x=n
y=n
count=0
sum1=0
while n>0:
    r=n%10
    count=count+1
    n=n//10
while x>0:
    r=x%10
    sum1=sum1+(r**count)
    x=x//10
if sum1==y:
    print("given number is amstrong number")
else:
    print("given number is not a amstrong number")

enter any number:121
given number is not a amstrong number

# Q82. Write a Python program to interchange the first and last element in a list.

In [330]:
list1=[10,20,30,40,50,60,70,80,90,100]
x=list1[-1]
list1[-1]=list1[0]
list1[0]=x
print(list1)

[100, 20, 30, 40, 50, 60, 70, 80, 90, 10]

# Q83. Write a Python program to swap two elements in a list.

In [132]:
list1=[10,20,30,40]
print("original list: ",list1)
list1[2],list1[0]=list1[0],list1[2]
print("after swapping list: ",list1)

original list:  [10, 20, 30, 40]
after swapping list:  [30, 20, 10, 40]

# Q84. Write a Python program to find N largest element from a list.

In [26]:
list10=[100,500,41,2,30,5,456,952,1050,236]
n_largest=0
for i in list10:
    if i>n_largest:
        n_largest=i
print("n_largest element in the given list",n_largest)

n_largest element in the given list 1050

# Q85. Write a Python program to find cumulative sum of a list.

In [32]:
list10=[100,500,41,2,30,5,456,952,1050,236]
cumulative_sum=0
list11=[]
for i in list10:
        cumulative_sum=cumulative_sum+i
        list11.append(cumulative_sum)
print("cumulative sum of the given list: ",list11)

cumulative sum of the given list:  [100, 600, 641, 643, 673, 678, 1134, 2086, 3136, 3372]

# Q86. Write a Python program to check if a string is palindrome or not.

In [34]:
string=input("enter a string characters: ")
str1=string[::-1]
if string==str1:
    print(f"given {string} string is a palindrome")
else:
    print(f"given {string} string is not a palindrome")

enter a string characters: malayalam
given malayalam string is a palindrome

# Q87. Write a Python program to remove i'th element from a string.

In [101]:
string1=input("enter any string characters: ")
# Remove nth index element
i= int(input("enter i'th element: "))   
# Print the new string
string=string1.replace(string1[i],"")
print(string)

enter any string characters: soujanya
enter i'th element: 5
soujaya

# Q88. Write a Python program to check if a substring is present in a given string.

In [45]:
string1=input("enter any string characters: ")
sub_str=input("enter any sub_string character: ")
if sub_str in string1:
    print(f"substring '{sub_str}'' is present in given string")

enter any string characters: souji and priya are sisters
enter any sub_string character: sister
substring 'sister'' is present in given string

# Q89. Write a Python program to find words which are greater than given length k.

In [74]:
sent=input("enter a string characters: ")
length=3
res=[word for word in sent.split() if len(word)>length]
print(res)

enter a string characters: write a python program to find words which are
['write', 'python', 'program', 'find', 'words', 'which']

# Q90. Write a Python program to extract unquire dictionary values.

In [55]:
dict10={1:123,2:12,3:'s',4:'s',5:"souji",6:'hi',7:"priya",'name':'souji'}
values=dict10.values()
print("list of the given all values of the dictionary: ",list(values))
print("uniquie values for the given dictionary values: ",list(set(values)))

list of the given all values of the dictionary:  [123, 12, 's', 's', 'souji', 'hi', 'priya', 'souji']
uniquie values for the given dictionary values:  ['hi', 'souji', 12, 's', 'priya', 123]

# Q91. Write a Python program to merge two dictionary

In [160]:
Input1 = {'Sachin': 10, 'MSD': 7, 'Kohli':18, 'Rohit': 45}
Input2 = {"dhoni":8,"dhawan":10,"karthik":12,"ashwin":15}
Input1.update(Input2)
print(Input1)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45, 'dhoni': 8, 'dhawan': 10, 'karthik': 12, 'ashwin': 15}

# Q92. Write a Python program to convert a list of tuples into dictionary.

Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
    
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [155]:
Input = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
result=dict(Input)
print(result)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

# Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

Input: list = [9, 5, 6]
    
Output: [(9, 729), (5, 125), (6, 216)]

In [146]:
input_list=[9,5,6]
res=[(a,a**3) for a in input_list]
print(res)

[(9, 729), (5, 125), (6, 216)]

In [148]:
# by using pow() function
input_list=[9,5,6]
res=[(a,pow(a,3)) for a in input_list]
print(res)

[(9, 729), (5, 125), (6, 216)]

# Q94. Write a Python program to get all combinations of 2 tuples.

Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
    
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [130]:
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)
print("given original test_tuple1: ",test_tuple1)
print("given original test_tuple2: ",test_tuple2)
res1=[(a,b) for a in test_tuple1 for b in test_tuple2]
res2=[(a,b) for a in test_tuple2 for b in test_tuple1]
result=res1+res2
print("combinations of given two tuples: ",result)

given original test_tuple1:  (7, 2)
given original test_tuple2:  (7, 8)
combinations of given two tuples:  [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

# Q95. Write a Python program to sort a list of tuples by second item.

Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 

Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [130]:
# Python program to sort a list of tuples by the second Item 
# Function to sort the list of tuples by its second item
def Sort_Tuple(tup):
    lst = len(tup)
    for i in range(0, lst):  
        for j in range(0, lst-i-1):
            if (tup[j][1] > tup[j + 1][1]):
                temp = tup[j]
                tup[j]= tup[j + 1]
                tup[j + 1]= temp
    return tup
tup =[('for', 24), ('Geeks', 8), ('Geeks', 30)]
print(Sort_Tuple(tup))

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [132]:
def Sort_Tuple(tup):
    for i in range(0, len(tup)): 
        for j in range(0, len(tup)-i-1):
            if (tup[j][1] > tup[j + 1][1]):
                temp = tup[j]
                tup[j]= tup[j + 1]
                tup[j + 1]= temp
    return tup
tup =[('for', 24), ('Geeks', 8), ('Geeks', 30)]
print(Sort_Tuple(tup))

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [133]:
# Python program to sort a list of
# tuples by the second Item using sort()
# Function to sort the list by second item of tuple

def Sort_Tuple(tup):
    tup.sort(key = lambda x: x[1])
    return tup
 
tup =[('for', 24), ('Geeks', 8), ('Geeks', 30)]
print(Sort_Tuple(tup))

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [135]:
# Python program to sort a list of
# tuples by the second Item using sorted()
def Sort_Tuple(tup):
    return(sorted(tup, key = lambda x: x[1]))

tup =[('for', 24), ('Geeks', 8), ('Geeks', 30)]
print(Sort_Tuple(tup))

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

# Q96. Write a python program to print below pattern.

* 
* * 
* * * 
* * * * 
* * * * *

In [96]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

# Q97. Write a python program to print below pattern.


    *
   **
  ***
 ****
*****

In [102]:
for i in range(1,6):
    for k in range(6,i,-1):
        print(" ",end=" ")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

# Q98. Write a python program to print below pattern.

    * 
   * * 
  * * * 
 * * * * 
* * * * *

In [103]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

# Q99. Write a python program to print below pattern.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [50]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Q100. Write a python program to print below pattern.

A 
B B 
C C C 
D D D D 
E E E E E

In [127]:
def alphabet(n):    #using function
    num=65 #ASCII value
    for i in range(0,n):
        for j in range(0,i+1):
            ch=chr(num) # explicitly converting to char
            print(ch,end=" ")
        num=num+1
        print()
alphabet(int(input("enter  a number in between 0 to 26: ")))

enter  a number in between 0 to 26: 5
A
B B
C C C
D D D D
E E E E E

In [125]:
n=int(input("enter any number: "))
num=65
for i in range(0,n):
    for j in range(0,i+1):
        ch=chr(num)
        print(ch,end=" ")
    num=num+1
    print()

enter any number: 10
A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I
J J J J J J J J J J